.container {
    background-color: #272727;
    color: white;
    padding: 4px 4px;
}
.current-time {
    font-weight: bold;
    font-size: 2rem;
}
.today-date {
    color: rgb(71, 71, 233);
}
hr {
    margin: 1rem 0;
}
.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
    margin-bottom: 5px;
}
.header-text {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: left;
}
.icon1 {
    grid-column-start: 6;
    grid-column-end: 7;
}
.icon2 {
    grid-column-start: 7;
    grid-column-end: 8;
}
.monthly-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}

.other-calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}
span {
    /* display: block; */
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border: 2px solid transparent;
    box-sizing: border-box;
}
.bright:hover {
    border: 2px solid #a8a5a5;
}
.today {
    background-color: blue;
}
.selected {
    border: 2px solid blue;
}
